html, body {
   height: 100%;
   margin: 0;
   padding: 0;
   color: white;
   font-family: 'Open Sans', sans-serif;
 }
 body {
      background-color: #1d1f25;
 }
#map {
  height: 100%;
  width: auto;
  color: black;
}
.map-container {
  height: 500px;
  width: 100%;
  padding: 40px 40px 40px 40px;
}
.top-buffer {
  margin-top: 20px;
}

li {
  border-radius: 5px;
  list-style: none;
  border: solid 1px white;
  width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.undiscovered {
  padding-left: 0
}

.alert-text {
  visibility: hidden;
}
.modal-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  background-color: rgba(167, 215, 250, 1);
  padding: 20px
}
.map-container {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-image: url('../img/papyrus.jpg');
}
.map-background {
  padding-left: 0px;
  padding-right: 0px;
}
.title {
  font-family: 'Calligraffitti', cursive;
}
.modal-content {
  background-color: #1d1f25;
  border: solid 1px white;
}
.icon {
  height: 30px;
  vertical-align: middle;
  padding: 0px 10px 0px 10px;
}
h4 {
  font-family: 'Calligraffitti', cursive;
  font-size: 30px;
}
ul {
  font-size: 20px;
}
.lists {
    background-color: rgba(66, 73, 78, 0.86);
    padding-bottom: 40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 40px;
}
