html, body {
   height: 100%;
   margin: 0;
   padding: 0;
   color: white;
   font-family: 'Open Sans', sans-serif;
   background-image: url('../img/valley.jpg');
   background-repeat: no-repeat;
    background-attachment: fixed;
 }
 .heading {
   color: rgba(29, 31, 37, 1);
   padding: 0
 }
#map {
  height: 100%;
  width: auto;
  color: black;
}
.map-container {
  height: 500px;
  width: 100%;
  padding: 40px 40px 40px 40px;
}
.top-buffer {
  margin-top: 20px;
}

li {
  padding-left: 0;
  border-radius: 5px;
  list-style: none;
  border: solid 1px white;
  width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.discovered{
  padding-left: 0;
}
.undiscovered {
  padding-left: 0;
}
.alert-text {
  visibility: hidden;
}
.modal-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  background-color: rgba(29, 31, 37, 0.86);
  padding: 20px;
  border: solid 1px white;
}
.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 400px;
}
.map-container {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-image: url('../img/papyrus.jpg');
}
.map-background {
  padding-left: 0px;
  padding-right: 0px;
}
.title {
  margin: 120px 0px 120px 0px;
  font-family: 'Calligraffitti', cursive;
  color: white;
  font-size: 400px;
  padding-top: 50px;
  background-color: rgba(29, 31, 37, 0.76)
}
.icon {
  height: 30px;
  vertical-align: middle;
  padding: 0px 10px 0px 10px;
}
h4 {
  font-family: 'Calligraffitti', cursive;
  font-size: 30px;
}
ul {
  font-size: 20px;
}
.lists {
    background-color: rgba(29, 31, 37, 0.86);
    border-top: solid 5px white;
    padding-bottom: 40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 40px;

}
